@import 'tailwindcss';

@theme {
  --font-montserrat: --font-montserrat;
  --font-ubuntu: --font-ubuntu;
  --font-kufi: --font-kufi;

  --color-notes: #244f7a;
  --color-gray: #a0a0a0;
  --color-background: #fff;
  --color-green: #00796b;
  --color-green-light: #9ad0c2;
}

.colors-preview {
  --color-notes: #244f7a;
  --color-gray: #a0a0a0;
  --color-background: #fff;
  --color-green: #00796b;
  --color-green-light: #9ad0c2;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility max-container {
  @apply mx-auto max-w-[1440px];
}

@utility spacing {
  @apply p-6 md:p-12 lg:p-16;
}
