@import 'tailwindcss';

@theme {
  --font-montserrat: var(--font-montserrat);
  --font-ubuntu: var(--font-ubuntu);
  --font-kufi: var(--font-kufi);

  --color-notes: #244f7a;
  --color-gray: #a0a0a0;
  --color-background: #fff;
  --color-green: #00796b;
  --color-green-light: #9ad0c2;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  .dark {
    --color-background: #222;
  }
}

@utility max-container {
  @apply mx-auto max-w-[1440px];
}

@utility spacing {
  @apply p-6 md:p-12 lg:p-16;
}
