@import 'tailwindcss';

@theme {
  --font-montserrat: var(--font-montserrat);
  --font-ubuntu: var(--font-ubuntu);
  --font-kufi: var(--font-kufi);

  --color-notes: #244f7a;
  --color-gray: #505050;
  --color-background: #f7f7f7;
  --color-green: #00796b;
  --color-green-light: #9ad0c2;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  .dark {
    --color-background: #222;
    --color-gray: #bdbcbc;
  }
}

@layer utilities {
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
    color: #edfffd;
  }
}

@utility max-container {
  @apply mx-auto max-w-[1440px];
}

@utility spacing {
  @apply p-6 py-12 md:p-12 lg:p-16;
}

@utility button {
  @apply bg-green disabled:bg-green/50 cursor-pointer rounded-full px-4 py-2 text-white transition-all duration-300 hover:scale-95 disabled:cursor-not-allowed;
}

@utility sr-only {
  @apply absolute -m-1 size-[1px] overflow-hidden border-none p-0 whitespace-nowrap [clip:rect(0,0,0,0)];
}
